{% extends 'base.html' %}

{% block content %}

<div class="m-2 ms-3">
    <h1>Edit book</h1>

    <div class="mt-3">
        <table>
            <form method="post" id="edit_book">
                {% csrf_token %}
                {{ form.as_table }}
            </form>
        </table>
        <div class="mt-3"> 
            <button class="btn btn-dark me-2 pe-3 ps-3" type="submit" form="add_book">Update</button>
            <a href="{% url 'list_book' %}" class="btn btn-light">Cancel</a>
        </div>
    </div>
</div>

{% endblock content %}